<div>
   <div class="sidebar">
      <div class="sidebar-header">
         <h1 class="sidebar-title">BlocTalk</h1>
         <a class="btn-primary" href="#" ng-click="open()">Add room</a>
      </div>
      <ul class="room-list">
         <li class="room-list-item" ng-repeat="room in rooms" ng-click="changeRoom(room)">{{ room.name }}</li>
      </ul>
   </div>

   <div class="main-content">
      <div class="content-heading">
         <h2>{{ currentRoom.name }}</h2>
      </div>
      <ul class="message-list">
         <li ng-repeat="message in messages">
            <div class="message-content">
               <h5>{{ message.author }}</h5>
               <p>{{ message.msgContent }}</p>
               <p>{{ message.timestamp | date: 'hh:mm' }}</p>
            </div>
         </li>
      </ul>
      <div class="">
         <form ng-submit="addMessage()">
            <input type="text" ng-model="newMessageText" placeholder="enter your message">
            <button type="submit">add message</button>
         </form>
      </div>
   </div>
</div>
